POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
SWAGGER_ENABLED=true
VALIDACAO_CPF_URL=http://validacao-cpf-service:8080
CPF_SEED_QUANTIDADE=100000
KAFKA_VOTO_TOPIC=voto-solicitado-v3
KAFKA_VOTO_GROUP_ID=votacao-service-v3
KAFKA_VOTO_PARTITIONS=6
KAFKA_CONSUMER_CONCURRENCY=6
KAFKA_RETRY_ATTEMPTS=4
KAFKA_RETRY_DELAY=1s
KAFKA_RETRY_MULTIPLIER=2
KAFKA_RETRY_MAX_DELAY=30s
KAFKA_RETRY_JITTER=250ms
KAFKA_PUBLICACAO_INTERVALO=100ms
KAFKA_PUBLICACAO_LOTE=500
KAFKA_PUBLICACAO_TIMEOUT=5000
KAFKA_METRICAS_INTERVALO=30s
